/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 22 May 2023, 1:57:33 pm
    Author     : USER
*/

div#nav{
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #24305E;
    z-index: 1;
    font-family: 'Times New Roman';
}

div#nav ul{
    list-style-type: none;
    margin: 0px;
}

div#nav ul li{
    float: right;
    margin-right: 20px;
}

div#nav nav ul li a{
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
    font-size: 28px;
}

div#nav nav ul li a:hover{
    background-color: #8FC1E3;
    color: black;
}

iframe {
    top: 55px;
    position: relative;
}